//colours

//nav, form-button
$dark-grayish-blue: #67727A;

//nav a
$very-light-gray: #F3F3F3;

//header-slider
$light-grayish-blue: #C3D7DF;

//story-title, footer-icons
$ghost-white: #F8F8FF;

//bar
$transparent-layer: rgba(0,0,0,0.5);

//bar-around
$light-gray: #C6C6C6;

//contact
$smoke-white: #F5F5F5;

//input-field
$very-soft-blue: #9FBFDF;

//blocks
$bar-height: 15px;

$margin-bottom: 1rem;
