@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	font-family: 'Roboto';
	font-weight: bold;
}

nav ul {
	display: flex;
	justify-content: space-around;
	background-color: #6699cc;
	list-style-type: none;
}

li a {
		text-decoration: none;
		color: #FFFFFF;
		font-size: 1em;
}

.header-slider {
	display: flex;
	justify-content: space-around;
	padding: 3%;
	background-color: #7da9d4;
}

.slider-image {
	display: flex;
	justify-content: flex-start;
	width: 40%;
}

.slider-caption {
	display: flex;
	width: 45%;
	text-align: left;
	align-items: center;
}

.story-title {
	text-align: center;
	padding: 3%;
}

p {
	padding: 3%;
}

.section-title-center {
	padding: 3%;
	background-color: #6699cc;
	text-align: center;
}

.section-sub-title-center {
	padding: 3%;
	text-align: center;
}

.skillbar-row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 1%;
}

.bar-around-left {
	height: 15px;
	width: 40%;
	background-color: #8b8b8b;
}

.bar-inner-left {
	height: 15px;
	width: 45%;
	background-color: rgba(0,0,0,0.2);
}

.bar-around-right {
	height: 15px;
	width: 40%;
	background-color: #8b8b8b;
	margin-bottom: 3%;
}

.bar-inner-right {
	height: 15px;
	width: 45%;
	background-color: rgba(0,0,0,0.2);
}

.experience-row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 1%;
}

.experience-item {
	display: flex;
	flex-direction: column;
	width: 33%;
	line-height: normal;
}

.contact-form
