.contact {
	background-color: $smoke-white;
}

.form-content {
	display: flex;
	justify-content: center;
	margin-bottom: $margin-bottom;
	width: 100%;
	.input-fields {
		display: flex;
		flex-direction: column;
		width: 80%;
		input {
			margin-bottom: $margin-bottom;
			height: 1.5em;
			background-color: $very-soft-blue;
			border: none;
		}
		textarea {
			margin-bottom: $margin-bottom;
			height: 4rem;
			background-color: $very-soft-blue;
			border: none;
		}
		.form-button {
			background-color: $dark-grayish-blue;
			text-align: center;
			font-size: 1.5em;
			color: $very-light-gray;
			border: none;
		}
	}
}
