.bar-row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: $margin-bottom;

	.bar-around {
		height: $bar-height;
		width: 40%;
		background-color: $light-grey;

		.bar-inner {
			height: $bar-height;
			width: 45%;
			background-color: $transparent-layer;
		}
	}
}

.experience-row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 1rem;

	.experience-item {
		display: flex;
		flex-direction: column;
		line-height: normal;

		.experience-title {
			font-weight: bold;

		.experience-description {
			font-style: italic;
			font-weight: bold;
			font-size: 1em;
		}
		}
	}
}
